%PDF-1.4
%“Œ‹ž ReportLab Generated PDF document (opensource)
1 0 obj
<<
/F1 2 0 R /F2 3 0 R /F3 4 0 R
>>
endobj
2 0 obj
<<
/BaseFont /Helvetica /Encoding /WinAnsiEncoding /Name /F1 /Subtype /Type1 /Type /Font
>>
endobj
3 0 obj
<<
/BaseFont /Helvetica-Bold /Encoding /WinAnsiEncoding /Name /F2 /Subtype /Type1 /Type /Font
>>
endobj
4 0 obj
<<
/BaseFont /Courier /Encoding /WinAnsiEncoding /Name /F3 /Subtype /Type1 /Type /Font
>>
endobj
5 0 obj
<<
/Contents 9 0 R /MediaBox [ 0 0 841.8898 595.2756 ] /Parent 8 0 R /Resources <<
/Font 1 0 R /ProcSet [ /PDF /Text /ImageB /ImageC /ImageI ]
>> /Rotate 0 /Trans <<

>> 
  /Type /Page
>>
endobj
6 0 obj
<<
/PageMode /UseNone /Pages 8 0 R /Type /Catalog
>>
endobj
7 0 obj
<<
/Author (\(anonymous\)) /CreationDate (D:20260804142744+00'00') /Creator (\(unspecified\)) /Keywords () /ModDate (D:20260804142744+00'00') /Producer (ReportLab PDF Library - \(opensource\)) 
  /Subject (\(unspecified\)) /Title (.env.example) /Trapped /False
>>
endobj
8 0 obj
<<
/Count 1 /Kids [ 5 0 R ] /Type /Pages
>>
endobj
9 0 obj
<<
/Filter [ /ASCII85Decode /FlateDecode ] /Length 499
>>
stream
GarW5h.k\0&;BTO'F.7H.BR.Z`3NWq@E0uX%9U$I/VS`.Y""OP8ZT!p-@,KKPf0Oo=P/P"3Suj'lX@`PlYfc)$N^!c#LA1Hi.Xo3EK-5#r#'`TPJINkiPb8]b:tNW1$T_?G/.;MKF8np7emJW;,IQ*_QabE;9XHN@d$X2FQd%sF[6fTG7a64iI$B^^[aCo&&OP/J#tDN8bP%sP\F&gCFMuROfp)@`X(VFX9#%JlD.'6I"S7rD+U"05Y!R?:qFdZ[lDO)-.n_1lPbLgg)r2_lq>"<_<@n_iF]SEAIlA(2gGq_(51W._KfIP*NjM_!3=M\"#qb;X^o8lN!r^D5!gaREhspjLkA79(AFhB;bA-+3Eag6E&_WTnNpS8p><=1Zb,jrRcaV!Wd<sA4[7PXS]7GWG9&W-<k>guLSdde=d@Ff1W"%;SMfuq;DR.sIVcI9fr6r<n#nq$`F:(ca`d9(]jsj:eaM)ok/hrLAbGX?m_9Qj^U)Rth>~>endstream
endobj
xref
0 10
0000000000 65535 f 
0000000061 00000 n 
0000000112 00000 n 
0000000219 00000 n 
0000000331 00000 n 
0000000436 00000 n 
0000000639 00000 n 
0000000707 00000 n 
0000000986 00000 n 
0000001045 00000 n 
trailer
<<
/ID 
[<46f5bcd7ab5222b0a532276720c3be4b><46f5bcd7ab5222b0a532276720c3be4b>]
% ReportLab generated PDF document -- digest (opensource)

/Info 7 0 R
/Root 6 0 R
/Size 10
>>
startxref
1634
%%EOF
