%PDF-1.4
%“Œ‹ž ReportLab Generated PDF document (opensource)
1 0 obj
<<
/F1 2 0 R /F2 3 0 R /F3 4 0 R
>>
endobj
2 0 obj
<<
/BaseFont /Helvetica /Encoding /WinAnsiEncoding /Name /F1 /Subtype /Type1 /Type /Font
>>
endobj
3 0 obj
<<
/BaseFont /Helvetica-Bold /Encoding /WinAnsiEncoding /Name /F2 /Subtype /Type1 /Type /Font
>>
endobj
4 0 obj
<<
/BaseFont /Courier /Encoding /WinAnsiEncoding /Name /F3 /Subtype /Type1 /Type /Font
>>
endobj
5 0 obj
<<
/Contents 9 0 R /MediaBox [ 0 0 841.8898 595.2756 ] /Parent 8 0 R /Resources <<
/Font 1 0 R /ProcSet [ /PDF /Text /ImageB /ImageC /ImageI ]
>> /Rotate 0 /Trans <<

>> 
  /Type /Page
>>
endobj
6 0 obj
<<
/PageMode /UseNone /Pages 8 0 R /Type /Catalog
>>
endobj
7 0 obj
<<
/Author (\(anonymous\)) /CreationDate (D:20260804142744+00'00') /Creator (\(unspecified\)) /Keywords () /ModDate (D:20260804142744+00'00') /Producer (ReportLab PDF Library - \(opensource\)) 
  /Subject (\(unspecified\)) /Title (.gitignore) /Trapped /False
>>
endobj
8 0 obj
<<
/Count 1 /Kids [ 5 0 R ] /Type /Pages
>>
endobj
9 0 obj
<<
/Filter [ /ASCII85Decode /FlateDecode ] /Length 331
>>
stream
GarVI9i$Er&A@Zck$iq3==Ak,Y!tR"=L5]1>"[6QV<^tJmorVTXtc+sH%#9J1)0:5FFBth\EAr:;4n*^*b\,;i6Uo6PP9b0CpG%\Z6;YBm=QSoq+@;TJsKa0(iUFqMI<_neVb$?>*;rU)gL4*9!n+XNt0\ln.Y:3gg+iOi0Q.LiN0\Fs.N&not!/Vl5a'e^$6(/`P4Rh*h)f7.>)pqg+5Bc02O0krROSb6k3[p,5`lD6A*`'6qjLH/2_V'aE`rO;]AFPNitqpSKOJ"Alb9R6T)CbP\S@:)ge@%);SGh2ejj0e2TrqFsc$LKKT[AU9F6_OF.("npG<~>endstream
endobj
xref
0 10
0000000000 65535 f 
0000000061 00000 n 
0000000112 00000 n 
0000000219 00000 n 
0000000331 00000 n 
0000000436 00000 n 
0000000639 00000 n 
0000000707 00000 n 
0000000984 00000 n 
0000001043 00000 n 
trailer
<<
/ID 
[<d58f4459d6fa02b69e568bfe43468125><d58f4459d6fa02b69e568bfe43468125>]
% ReportLab generated PDF document -- digest (opensource)

/Info 7 0 R
/Root 6 0 R
/Size 10
>>
startxref
1464
%%EOF
